<%- include('partial/header'); -%>
<h1>Compose</h1>
<form method="POST" class="" action="/compose"> 
<input type="text" name="postTitle">
<button name="button" type="submit">PUBLISH</button>
</form>
<%- include("partial/footer"); -%>